
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CardIsBlockedError</title>
</head>
<body>
<div>
    <h2>Your card was blocked!</h2>
</div>
</body>
</html>
