@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

body {
    background:white;
}

#header {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

#calc {  
    text-align: center;
    width: 400px; 
    margin-left: 250px;
    /*display: block;*/
    /*border-radius:8px;*/
    /*border: 1px solid;*/
    padding:20px;
    margin-top:1px;
    margin-left:auto;
    margin-right:auto;
}

#display {
    background: whitesmoke;
    /*padding: 8px;*/
    margin:16px 12px 10px 16px;
    /*margin-right: 70px;*/
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    /*border-radius:8px;*/
}

#result p {
    width: 310px;
    margin-left: 35px;
    font-size: 1.8em;   
}

#result {
    text-align: left;
    padding-right: 20px;
    padding-left: 10px;
}

#keyboard {
    display: inline-block;  
    text-align: center;
    margin-bottom:8px;
}

.row {
    margin-top: 4px;
}

.last-row {
    float:left;
    margin-top: -11.5%;
}

button {
    width: 62px;
    margin: 2px;
}

.invisible {
    width:0;
}

.btn-delete {
    margin-left: 68px;
}

.btn-result {  
    float:right;
    margin-left:4px;  
    height: 74px;
}

